<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recongition landing page</title>
    <link rel="stylesheet" href="/static/sty.css">
    <!--Google Fonts Links for icon-->
    <link rel="stylesheet" href="https://fonts.Googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">

</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" class="logo">FaceRecongition<span>.</span></a>
            <ul class="menu-links">

                <span id="close-menu-btn" class="material-symbols-outlined">menu</span>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <span id="menu-btn" class="material-symbols-outlined">menu</span>
        </nav>
    </header>
    <section class="hero-section">
        <div class="content">
            <h1>Identify that Face </h1>
            <p>
                Facial recognition is a way of identifying or confirming an individual's identity using their face,<br>
                Facial recognition systems can be used to identify . identify human faces in images or videos, <br>
                determine if the face in two images belongs to the same person, or search for a face among a large collection of existing images.<br>
                <button>Run a Test Demo</button>
            </p>
        </div>
    </section>
    <script>
        const header = document.querySelector("header");
        const menuBtn = document.querySelector("#menu-btn");
        const closeMenuBtn =document.querySelector
    </script>
    
</body>
</html>